@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul")

/* disable crappy W1nd0w$ buttons in fullscreen mode */
#window-controls
  display none

window
page
dialog
wizard
  font-family font-family !important

.tab-label-container
  mask-image linear-gradient(to left, transparent, black 1em) !important

if !show-autocomplete-popups
  #PopupAutoCompleteRichResult
  #PopupSearchAutoComplete
  #PopupAutoComplete
    display none !important

if !show-popups
  #mainPopupSet
    display none

.tab-close-button
.tab-line
  display none !important

#tabbrowser-tabs
.tabbrowser-arrowscrollbox
.tabbrowser-tab
  min-height unset !important

if !show-tab-throbber
  .tab-throbber
    display none !important

.tab-throbber
.tab-icon-pending
.tab-icon-image
.tab-sharing-icon-overlay
.tab-icon-sound
.tab-close-button
  margin 0 !important

#TabsToolbar
  counter-reset index
  background tabs-toolbar-background-color

  tab.tabbrowser-tab
    color tab-color !important
    font-size font-size !important
    /* needed for pinned tabs */
    min-hegiht unset !important
    transition none !important

    > .tab-stack
      position relative

      > .tab-background
        border-top 0 !important

        > .tab-bottom-line
          position absolute
          width 100%
          bottom 0

      &::after
        content '' if triangular-theme
        display block
        position absolute
        top 0
        right 0
        transform translate(100%, 0)

    &::after
      border 0 !important
      margin 0 !important

    .tab-content
      padding 0 1ch !important
      margin-left 1ch !important if triangular-theme

    .tab-label
      line-height unset !important
      padding-left .5ch

    &:not([selected]):not([multiselected])
      .tab-background
        background tab-background !important

        &::before
          display inline-block

      > .tab-stack::after
        color tab-background !important

      &:nth-child(-n+9) .tab-label::before
        color tab-number-color

      ../:not([selected]) +
        & ^[1..-3][selected]
        & ^[1..-3][multiselected]
          .tab-background::before
            content '' if triangular-theme
            color tab-background !important

      & + ^[1..-2]:not([selected]):not([multiselected]) .tab-background::before
        content '' if triangular-theme

    &[selected]
    &[multiselected]
      color tab-selected-color !important

      .tab-background
        background tab-selected-background !important

      > .tab-stack::after
        color tab-selected-background !important

      &:nth-child(-n+9) .tab-label::before
        color tab-number-selected-color

      & + ^[1..-2][multiselected] .tab-background::before
        content '' if triangular-theme
        color tab-selected-color !important

    &:nth-child(-n+9) .tab-label::before
      counter-increment index
      content counter(index) ':'

#alltabs-button
  > .toolbarbutton-badge-stack
    > .toolbarbutton-icon
      fill tab-selected-background

if show-newtab-button
  #new-tab-button
  .tabs-newtab-button
    -moz-box-align start !important
    position absolute !important
    display block !important
    color tab-selected-background !important
    background none !important
    font-weight bold

    > .toolbarbutton-icon
      display none

    &::before
      padding 0 1ch
      content '+'
      display block !important
else
  #new-tab-button
  .tabs-newtab-button
    display none !important


.toolbarbutton-1
  background none !important
  border-radius 0 !important

  > .toolbarbutton-icon
    display none !important

toolbarbutton
  &:active
  &:hover
    > .toolbarbutton-badge-stack
      background none !important

.tabbrowser-arrowscrollbox
  > .arrowscrollbox-overflow-start-indicator
  > .arrowscrollbox-overflow-end-indicator
    display none !important

  > .scrollbutton-up
  > .scrollbutton-down
    background tab-background !important

    > .toolbarbutton-icon
      display none !important

    &::before
      color tab-color !important
      display block !important

    /* &[disabled]
      display none !important */

  > .scrollbutton-up::before
    content scroll-up-label

  > .scrollbutton-down::before
    content scroll-down-label

#userContext-label
  margin-top 0 !important
  margin-bottom 0 !important

.urlbar-input-box
  padding-left 1ch if triangular-theme

#tracking-protection-icon-box
  display none !important

#stop-reload-button
  display none !important

#back-button
#forward-button
#home-button
#library-button
#sidebar-button
  > .toolbarbutton-icon
    display none !important

  &::after
    white-space pre

if show-history-buttons
  #back-button::after
    content back-button-label

  #forward-button::after
    content forward-button-label

  #backForwardMenu
    counter-reset history_number

    > menuitem::after
      counter-increment history_number
      content '[' counter(history_number) ']'
      position absolute
else
  #back-button
  #forward-button
    display none

.urlbar-history-dropmarker
#pageActionButton
#pageActionSeparator
#reader-mode-button
#PanelUI-button
  display none !important

.toolbarbutton-badge-stack
  padding 0 !important

.urlbar-icon
.urlbar-icon-wrapper
  &:not([disabled]):hover
    background none !important

if show-nav-bar
  #nav-bar
    box-shadow none !important
    min-height unset !important

  #nav-bar-overflow-button
    position relative

    &::after
      content '>'
      position absolute

    > .toolbarbutton-icon
      position absolute !important
      opacity 0
      width 1.2em !important
      height 1em !important

  #urlbar
    border-radius 0 !important
    border none !important
    background none !important
    box-shadow none !important
    margin 0 !important
    min-height unset !important

    .urlbar-go-button
      display none !important

else
  #nav-bar
    display none !important

/* FIXME Works in style editor. */
.textbox-input::-moz-selection
  background selection-background !important
  color selection-color !important

#identity-box
  border-right 0
  padding 0
  position relative
  overflow visible !important
  margin 0 !important
  background tab-selected-background !important

  &::after
    position absolute
    display block
    color tab-selected-background !important
    content '' if triangular-theme
    line-height 0
    transform translate(100%, 0)
    right 0

  &:hover:not(.no-hover):not([open="true"])
    background-color blue

#star-button
  width font-size !important
  height font-size !important
  padding 1px !important

  &[starred]
    fill star-color !important

#downloads-button[attention="success"]
  > #downloads-indicator-anchor
    > #downloads-indicator-icon
    > #downloads-indicator-progress-outer
      fill downloads-color !important

#statuspanel-label
  background statuslabel-background !important
  color statuslabel-color !important

/* vim:set ts=2 sw=2 et fdm=marker: */
