star-color                    = #fc6d1b
downloads-color               = #14be4e
tab-color                     = #dae0e2
tab-selected-color            = #5a5a5a
tab-number-color              = #cececf
tab-number-selected-color     = #9e9e9f
tab-selected-background       = #e4e4e4
statuslabel-color             = tab-selected-color
statuslabel-background        = tab-selected-background
tab-background                = #0087af
selection-color               = #eeeeee
selection-background          = #0087af
tabs-toolbar-background-color = #005f87
bar-background                = #eeeeee

/* vim:set ts=2 sw=2 et fdm=marker: */
