triangular-theme              = true
font-family                   = "DejaVuSansMono Nerd Font", monospace
font-size                     = 15px
show-history-buttons          = false
back-button-label             = '  '
forward-button-label          = '  '
scroll-up-label               = '...'
scroll-down-label             = '...'
show-nav-bar                  = true
show-tab-throbber             = false
show-newtab-button            = false
tab-overflow-fade             = false
@import 'powerline.theme.light.styl'

@import 'powerline.styl'

/* vim:set ts=2 sw=2 et fdm=marker: */
